<?xml version="1.0" encoding="UTF-8"?>
<configuration scan="true" scanPeriod="60 seconds" debug="false">
    <!-- %m输出的信息,%p日志级别,%t线程名,%d日期,%c类的全名,,,, -->
    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} %-5level [%thread] %logger Line:%-3L - %msg%n</pattern>
            <charset>utf-8</charset>
        </encoder>
    </appender>

    <springProfile name="product">
        <include resource="logback-file.xml"/>
        <root level="error"> <!--Log Level: ERROR, WARN, INFO, DEBUG, TRACE.-->
            <appender-ref ref="FILE"/>
        </root>
        <logger name="rocket" level="DEBUG" />
    </springProfile>

    <springProfile name="test">
        <include resource="logback-file.xml"/>
        <root level="error">
            <appender-ref ref="FILE"/>
            <!--<appender-ref ref="DBLOG"/>-->
        </root>
        <logger name="rocket" level="DEBUG" />
    </springProfile>

    <springProfile name="dev">
        <root level="error">
            <appender-ref ref="CONSOLE"/>
        </root>
        <logger name="rocket" level="DEBUG" />
    </springProfile>

</configuration>
